* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: white;
  color: #000;
  background-image: url('ricepaper.png');
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  background: #54cea7;
  box-shadow: 4px 4px 0 #2ba4a6;
  padding: 1em 2em;
  margin: 1em auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

iframe {
  display: block;
  margin: auto;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: #a825ba;
}

a {
  color: #d74ac7;
  transition: color 0.5s;
  text-decoration: none;
}

a:hover {
  color: #a825ba;
}

blockquote {
  background: #54cea7;
  border: solid 0.2em #2ba4a6;
  border-radius: 1em;
  padding: 1em 2em;
  margin: 1em auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-style: italic;
}

#logo {
  display: block;
  margin: auto;
  max-width: 100%;
}

#logo-img {
  display: block;
  margin: auto;
  max-width: 95%;
  padding-top: 1em;
}

.feed-item {
  background: #54cea7;
  box-shadow: 4px 4px 0 #2ba4a6;
  padding: 1em 2em;
  margin: 1em auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.feed-item h2 {
  font-size: 1.5em;
  color: #a825ba;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

.feed-item h3 {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column p {
  margin: 0;
}

.thumbnail {
  transition: box-shadow 0.5s;
  box-shadow: 4px 4px 0 #2ba4a6;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.thumbnail:hover {
  filter: brightness(1.05) blur(1px);
  transform: rotate3d(1, 1, 1, 5deg);
}

.description {
  font-size: 1.2em;
  margin: 1em 0;
  font-weight: 700;
  color: #0d2147;
}

.tags {
  margin: auto;
  display: inline-block;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.tag {
  color: #054b84;
  list-style: none;
  display: inline-block;
  background-color: #ffb0bf;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.5em;
  transform: scale(1);
  transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
  user-select: none;
}

.tag:hover {
  background-color: #ff82bd;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 4px 8px #0d2147;
}

article {
  margin: 1em auto;
  padding: 1rem 2rem;
  width: 80%;
  background-color: #54cea7;
  border-radius: 1rem;
  border: solid 0.2rem #a825ba;
  font-size: 1.1em;
  margin-bottom: 8rem;
}

article img {
  width: 50%;
  border-radius: 1rem;
  display: block;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 2em;
  color: #682b9c;
}

.date {
  text-align: right;
  font-size: 1.5em;
  color: #a825ba;
}

code {
  background-color: #ffb0bf;
  color: #0d2147;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5em;
  display: inline-block;
  width: 100%;
  margin: auto;
  border: solid 0.2em #0d2147;
  text-wrap: wrap;
  line-height: 1.5;
}

/* Worst css ever */
.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
  margin: 1em auto;
  width: 95%;
}

.nav p {
  font-size: 1.2em;
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin: 0 1em;
}

.nav-item img {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

#menu-bar {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: inline-block;
  margin: 0 1em;
  font-size: 1.2em;
  transition: color 0.5s;
}

.menu-item:hover {
  color: #a825ba;
}

#pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.pagination-list li {
  transition: transform 0.5s;
}

.pagination-list li:hover {
  transform: scale(1.1);
}

.next-previous {
  display: inline-block;
  margin: 0 1em;
  font-size: 1.2em;
  transition: color 0.5s;
}

.next-previous:hover {
  color: #a825ba;
}

.num {
  display: inline-block;
  margin: 0 1em;
  font-size: 1.2em;
  transition: color 0.5s;
}

.num:hover {
  color: #a825ba;
}

.num-current {
  display: inline-block;
  margin: 0 1em;
  font-size: 1.2em;
  color: #a825ba;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.game-link {
  display: inline-block;
  background-color: #ffb0bf;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-size: 1.2em;
  transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

.game-link:hover {
  background-color: #ff82bd;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 4px 8px #0d2147;
}

/* Audio player */
.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  width: 80%;
  background-color: #ffb0bf;
  box-shadow: 0.25em 0.25em 0.25em #ff82bd;
  padding: 0.5rem;
}

.album-art img {
  width: 100%;
  display: block;
  margin: auto;
}

.track-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  width: 100%
}

#track-list {
  list-style: none;
  padding-left: 1em;
  margin: 0;
  width: 100%
}

#track-list li {
  margin: 0;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

#track-list li:hover {
  background-color: #ff82bd;
  color: #0d2147;
}

#track-list li.active {
  background-color: #d74ac7;
  color: #54cea7;
}

#audio-player {
  display: block;
  margin: auto;
  width: 100%;
}

#audio-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  width: 100%;
}

#audio-controls button {
  border-radius: 1em;
  padding: 0.25em 1em;
  margin: 0 1em;
  font-size: 1.2em;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  background-color: #ff82bd;
  cursor: pointer;
  border: none;
}

#audio-controls button:hover {
  background-color: #a825ba;
  box-shadow: 0px 4px 8px #0d2147;
}

.audio-time {
  display: flex;
}

#audio-controls input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#audio-controls input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #054b84;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #054b84;
  border-radius: 50%;
  cursor: pointer;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
  margin: 1em auto;
  width: 95%;
}

.more {
  font-size: 1.2em;
  font-weight: 700;
}

.recommendation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 80%;
}

.recommendation-text {
  padding-left: 1em;
}

.recommendation-img {
  display: inline-block;
  width: auto;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.recommendation-img:hover {
  transform: scale(1.1) rotate(5deg);
  filter: brightness(1.05) blur(1px);
  cursor: pointer;
}



@media (max-width: 1024px) {
  article {
    width: 100%;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0.5rem 1rem;
  }

  article img {
    width: 100%;
    border-radius: 0;
  }

  blockquote {
    width: 90%;
  }

  .feed-item {
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom: solid 0.2em #a825ba;
    margin: 0;
    padding: 0.5rem 1rem;
  }

  .flex-row {
    flex-direction: column;
  }

  .flex-row h2,
  .flex-row h3 {
    margin-left: 0;
  }

  .description {
    font-size: 1em;
    padding: 0;
  }

  .flex-row img {
    margin: auto;
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
  }

  #audio-controls {
    flex-direction: column;
    justify-content: left;
  }

  #audio-controls button {
    margin-bottom: 0.5em;
  }

  .recommendation {
    width: 100%;
    flex-direction: column;
    border-bottom: solid 0.1em #a825ba;
    margin-bottom: 1em;
  }

  .recommendation-description {
    display: none;
  }
}
