<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edward Atkin</title>
  {% if og_tags %}
  {% for property, content in og_tags.items() %}
  <meta property="{{ property }}" content="{{ content }}">
  {% endfor %}
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>

<body>
  {% include 'components/header.html' %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% include 'components/footer.html' %}
</body>

</html>
