{% extends 'base.html' %}

{% block content %}
<h2 class="'blog-title">
  {{ title }}
</h2>
<date class="blog-date">
  {{ date }}
</date>

{{ content | safe }}

{% if navigation %}
<div class="nav">
  <p>More from
    {{ collection }}
  </p>
  {% if navigation.first %}
  <a href="{{ url_for('blog', blog_name=navigation.first) }}">First post</a>
  {% endif %}
  {% if navigation.prev %}
  <a href="{{ url_for('blog', blog_name=navigation.prev) }}">Previous post</a>
  {% endif %}
  {% if navigation.next %}
  <a href="{{ url_for('blog', blog_name=navigation.next) }}">Next post</a>
  {% endif %}
  {% if navigation.last %}
  <a href="{{ url_for('blog', blog_name=navigation.last) }}">Last post</a>
  {% endif %}
</div>
{% endif %}
{% endblock %}
