{% extends 'base.html' %}

{% block content %}

<article class="content">
  <h2 class="title">
    {{ title }}
  </h2>
  <date class="date">
    {{ date }}
  </date>

  <div class="cover-art">
    <img src="{{ cover_art }}" alt="{{ title }}">
  </div>
  {{ content | safe }}

  <p class="game-link">
    <a href="{{ game_link }}" target="_blank">Play
      {{ title }} at Itch IO!</a>
  </p>
</article>

{% if navigation %}
<div class="nav">
  <p>More from
    {{ collection }}
  </p>
  {% if navigation.first %}
  <a href="{{ url_for('game', game_name=navigation.first) }}">First game</a>
  {% endif %}
  {% if navigation.prev %}
  <a href="{{ url_for('game', game_name=navigation.prev) }}">Previous game</a>
  {% endif %}
  {% if navigation.next %}
  <a href="{{ url_for('game', game_name=navigation.next) }}">Next game</a>
  {% endif %}
  {% if navigation.last %}
  <a href="{{ url_for('game', game_name=navigation.last) }}">Last game</a>
  {% endif %}
</div>
{% endif %}
{% endblock %}
