{% extends 'base.html' %}

{% block content %}

<article class="content">
  <h2 class="title">
    {{ title }}
  </h2>
  <date class="date">
    {{ date }}
  </date>

  <div class="cover-art">
    <img src="{{ cover_art }}" alt="{{ title }}">
  </div>
  {{ content | safe }}

  <p class="game-link">
    <a href="{{ game_link }}" target="_blank">Play
      {{ title }} at Itch IO!</a>
  </p>

  {% if navigation %}
  <div class="nav">
    <p>More from
      {{ collection }}:
    </p>
    <ul class="nav-list">
      {% if navigation.first %}
      <li class="nav-item">
        <a href="{{ url_for('game', game_name=navigation.first) }}">First game</a>
      </li>
      {% endif %}
      {% if navigation.prev %}
      <li class="nav-item">
        <a href="{{ url_for('game', game_name=navigation.prev) }}">Previous game</a>
      </li>
      {% endif %}
      {% if navigation.next %}
      <li class="nav-item">
        <a href="{{ url_for('game', game_name=navigation.next) }}">Next game</a>
      </li>
      {% endif %}
      {% if navigation.last %}
      <li class="nav-item">
        <a href="{{ url_for('game', game_name=navigation.last) }}">Latest game</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  {% if recommendations %}
  {% include 'components/recommendations.html' %}
  {% endif %}
</article>

{% endblock %}
