{% extends 'base.html' %}

{% block content %}

<article class="content">
  <h2 class="'title">
    {{ title }}
  </h2>
  <date class="date">
    {{ date }}
  </date>
  {{ content | safe }}

  <div class="player">
    <audio id="audioPlayer" controls>
      <source id="audioSource" src="" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <script>
      function playTrack(file) {
        const audioPlayer = document.getElementById('audioPlayer');
        const source = document.getElementById('audioSource');
        source.src = file;
        audioPlayer.load();
        audioPlayer.play();
      }
    </script>
    <noscript>
      <p>Enable JavaScript to play audio.</p>
    </noscript>
    <ul class="playlist">
      {% if album_art %}
      <img src="{{ album_art }}" alt="Album cover" class="album-art">
      {% endif %}
      {% for track in tracks %}
      <li onclick="playTrack('{{ track.file }}')">
        <span class="track-title">
          {{ loop.index }}
          {{ track.title }}
        </span>
      </li>
      {% endfor %}
    </ul>

  </div>
  {% if navigation %}
  <div class="nav">
    <p>More from
      {{ collection }}:
    </p>
    <ul class="nav-list">
      {% if navigation.first %}
      <li class="nav-item">
        <a href="{{ url_for('music', collection_name=navigation.first) }}">First post</a>
      </li>
      {% endif %}
      {% if navigation.prev %}
      <li class="nav-item">
        <a href="{{ url_for('music', collection_name=navigation.prev) }}">Previous post</a>
      </li>
      {% endif %}
      {% if navigation.next %}
      <li class="nav-item">
        <a href="{{ url_for('music', collection_name=navigation.next) }}">Next post</a>
      </li>
      {% endif %}
      {% if navigation.last %}
      <li class="nav-item">
        <a href="{{ url_for('music', collection_name=navigation.last) }}">Latest post</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
</article>

{% endblock %}
