{% extends 'base.html' %}

{% block content %}

<article class="content">
  <h2 class="'title">
    {{ title }}
  </h2>
  <date class="date">
    {{ date }}
  </date>
  {{ content | safe }}

  <div class="audio-player">
    {% if album_art %}
    <div class="flex-row">
      <div class="album-art">
        <img src="{{ album_art }}" alt="Album cover">
      </div>
      {% endif %}
      <div class="track-listing">
        <ul id="track-list">
          {% for track in tracks %}
          {% if loop.first %}
          <li data-src='{{ track.file }}' class="active">
            {% else %}
          <li data-src='{{ track.file }}'>
            {% endif %}
            <span class="track-title">
              <strong>
                {{ loop.index }}</strong>
              {{ track.title }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="audio-controls">
      <input type="range" id="seek-bar" value="0">
      <div class="audio-time">
        <span id="current-time">0:00</span> / <span id="duration">0:00</span>
      </div>
      <button id="play-pause">Play</button>
      <button id="next">Next</button>
      <button id="previous">Previous</button>
    </div>

    <audio id="audio-player">
      {% for track in tracks[:1] %}
      <source id="audio-source" src="{{ track.file }}" type="audio/mpeg">
      {% endfor %}
      Your browser does not support the audio element.
    </audio>

    <script src="{{ url_for('static', filename='js/audio_player.js') }}">
    </script>
    <noscript>
      <p>Enable JavaScript to play audio.</p>
    </noscript>

  </div>
  {% if navigation %}
  <div class="nav">
    <p>More from
      {{ collection }}:
    </p>
    <ul class="nav-list">
      {% if navigation.first %}
      <li class="nav-item">
        <a href="{{ url_for('music', collection_name=navigation.first) }}">First post</a>
      </li>
      {% endif %}
      {% if navigation.prev %}
      <li class="nav-item">
        <a href="{{ url_for('music', collection_name=navigation.prev) }}">Previous post</a>
      </li>
      {% endif %}
      {% if navigation.next %}
      <li class="nav-item">
        <a href="{{ url_for('music', collection_name=navigation.next) }}">Next post</a>
      </li>
      {% endif %}
      {% if navigation.last %}
      <li class="nav-item">
        <a href="{{ url_for('music', collection_name=navigation.last) }}">Latest post</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
  {% if recommendations %}
  {% include 'components/recommendations.html' %}
  {% endif %}
</article>

{% endblock %}
